aiohappyeyeballs
aiohttp
aiosignal
airportsdata
annotated-types
anyio
astor
attrs
blake3
cachetools
certifi
charset-normalizer
click
cloudpickle
compressed-tensors
contourpy
cupy-cuda12x
cycler
datasets>=3.5.0
depyf
dill
diskcache
distro
dnspython
einops
email_validator
fastapi
fastapi-cli
fastrlock
filelock
fonttools
frozenlist
fsspec
gguf
h11
httpcore
httptools
httpx
huggingface-hub
idna
importlib_metadata
interegular
Jinja2
jiter
jsonschema
jsonschema-specifications
kiwisolver
lark
llguidance
llvmlite
lm-format-enforcer
markdown-it-py
MarkupSafe
matplotlib
mdurl
mistral_common
mpmath
msgpack
msgspec
multidict
multiprocess
nest-asyncio
networkx
ninja
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
opencv-python-headless
outlines
outlines_core
packaging
pandas
partial-json-parser
pillow
prometheus-fastapi-instrumentator
prometheus_client
propcache
protobuf
psutil
py-cpuinfo
pyarrow
pycountry
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
ray
referencing
regex
requests
rich
rich-toolkit
rpds-py
safetensors
scipy
sentencepiece
shellingham
six
sniffio
starlette
sympy
tiktoken
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
uvloop
vllm>=0.8.0
watchfiles
websockets
xformers
xgrammar
xxhash
yarl
zipp
